@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {

    /* fontFamily */
  --font-Poppins: "Poppins", sans-serif;
  --font-Lato: "Lato", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-AbrilFatface: "Abril Fatface";
  --font-Inter: "Inter";

  /* Background Color */
  --color-Primarybg: #fff;
  --color-DropDownBg: #F6F6F6;
  --color-DropDownBgHover: #EDEDED;
  --color-DropDownBgHover2: #D9D9D9;
  --color-FooterBg: #E4E4E4;
  
  /* Text Color */
  --color-textPrimary: #060202;
  --color-textWhite: #fff;
  --color-textSecondary: #FFCC02;
  --color-textGray: #848484;

  /* border Color */
  --color-DropDownBorder: #848484;
  --color-BorderLight: #060202;

  /* button color */
  --color-btnRed: #B21318;
  --color-btnPrimary: #E6421A;
  --color-btnPrimaryHover: rgb(203,58,23);
  --color-btnYellow: #EEE609;
  --color-btnYellowhover: #FFCC02;

  /* Heading Text */
  --text-Heading1: 75px;
  --text-Heading2: 60px;
  --text-Heading3: 55px;
  --text-Heading4: 40px;
  --text-Heading5: 35px;
  --text-Heading6: 30px;
  
  /* Paragraph text */
  --text-Paragraph1: 30px;
  --text-Paragraph2: 26px;
  --text-Paragraph3: 24px;
  --text-Paragraph4: 22px;
  --text-Paragraph5: 20px;
  --text-Paragraph6: 18px;
  --text-Paragraph7: 16px;
  --text-Paragraph8: 14px;
  --text-Paragraph9: 12px;
  
  --breakpoint-xs: 350px; /*350px*/
  --breakpoint-sm: 640px; /*640px*/
  --breakpoint-md: 768px; /*768px*/
  --breakpoint-lg: 1024px; /*1024px*/
  --breakpoint-xl: 1280px; /*1280px*/
  --breakpoint-2xl: 1536px; /*1536px*/

  
}

/* Swiper Pagination Custom Styles */
.mySwiper .swiper-pagination {
  margin-top: 3rem !important;
  position: relative !important;
}

.mySwiper .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #fff !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
  border-radius: 4px !important;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 38px !important;
  height: 8px !important;
  background: #E6421A !important;
  border-radius: 4px !important;
}

/* BANNERSLIDER PAGINATION INSIDE SLIDE */

.bannerSwiper .swiper-pagination {
  position: absolute !important;
  bottom: 20px !important;   /* inside banner */
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 20 !important;
}

.bannerSwiper .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 4px !important;
  transition: 0.3s ease !important;
}

.bannerSwiper .swiper-pagination-bullet-active {
  width: 30px !important;
  background: #EEE609 !important;
}