@import "tailwindcss";

@theme {

    /* fontFamily */
  --font-Poppins: "Poppins", sans-serif;
  --font-Lato: "Lato", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-AbrilFatface: "Abril Fatface";
  --font-Inter: "Inter";

  /* Background Color */
  --color-Primarybg: #fff;
  --color-DropDownBg: #F6F6F6;
  --color-DropDownBgHover: #EDEDED;
  --color-DropDownBgHover2: #D9D9D9;
  --color-FooterBg: #E4E4E4;
  
  /* Text Color */
  --color-textPrimary: #060202;
  --color-textWhite: #fff;
  --color-textSecondary: #EEE609;
  --color-textGray: #848484;

  /* border Color */
  --color-DropDownBorder: #848484;
  --color-BorderLight: #060202;

  /* button color */
  --color-btnRed: #B21318;
  --color-btnPrimary: #E6421A;
  --color-btnPrimaryHover: rgb(203,58,23);
  --color-btnYellow: #EEE609;
  --color-btnYellowhover: #FFCC02;

  /* Heading Text */
  --text-Heading1: 60px;
  --text-Heading2: 45px;
  --text-Heading3: 40px;
  --text-Heading4: 30px;
  --text-Heading5: 25px;
  --text-Heading6: 20px;
  
  /* Paragraph text */
  --text-Paragraph1: 28px;
  --text-Paragraph2: 23px;
  --text-Paragraph3: 22px;
  --text-Paragraph4: 20px;
  --text-Paragraph5: 18px; 
  --text-Paragraph6: 16px;
  --text-Paragraph7: 14px;
  --text-Paragraph8: 12px;
  --text-Paragraph9: 10px;
  
  --breakpoint-xs: 350px; /*350px*/
  --breakpoint-sm: 640px; /*640px*/
  --breakpoint-md: 768px; /*768px*/
  --breakpoint-lg: 1024px; /*1024px*/
  --breakpoint-xl: 1280px; /*1280px*/
  --breakpoint-2xl: 1390px; /*1536px*/

  
}

/* Swiper Pagination Custom Styles */
.mySwiper .swiper-pagination {
  margin-top: 3rem !important;
  position: relative !important;
}

.mySwiper .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #BEBCBC !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
  border-radius: 4px !important;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 38px !important;
  height: 8px !important;
  background: #E6421A !important;
  border-radius: 4px !important;
}

/* BANNERSLIDER PAGINATION INSIDE SLIDE */

.bannerSwiper .swiper-pagination {
  position: absolute !important;
  bottom: 20px !important;   /* inside banner */
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 20 !important;
}

.bannerSwiper .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 4px !important;
  transition: 0.3s ease !important;
}

.bannerSwiper .swiper-pagination-bullet-active {
  width: 30px !important;
  background: #EEE609 !important;
}


/* Text Animation */
.typing-text {
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #E6421A;
  animation: typing 1.5s steps(20) infinite alternate, blink .3s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 8.3ch }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: #E6421A }
}